body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
h2{
    text-align: center;
}
img{
    height:50%;
    width:30%;
}
header {
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-size: 3em;
    color: #333;
}

header p {
    font-size: 1.2em;
    color: #666;
}

#description{
    margin:auto 10%;
    padding:5%;
    background:#d4e4bc;
    color:black;
    border-radius: 20px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px auto;
    background:#cee0dc;
    margin:3% 15%;
    border-radius:15px
}

.image {
    margin: 20px;
    text-align: center;
    flex: 0 0 calc(33.3333% - 80px)
}

.image img {
    width: 150px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image p {
    margin-top: 10px;
    color: black;
}
footer {
    text-align: center;
    background-color: #333;
    padding: 20px 0;
}

.social-icons {
    list-style-type: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

#logo{
    border-radius:20px;
}
@media screen and (max-width: 480px) {
    .image {
        flex-basis: calc(100% - 40px); /* Set width for each image to 100% for even smaller screens */
    }
}

@media only screen and (max-width: 768px) {
    header {
        padding: 30px 0;
    }
    
    header h1 {
        font-size: 2.5em;
    }
    
    header p {
        font-size: 1em;
    }
    
    #description {
        margin: auto 5%;
    }
    
    .gallery {
        margin: 40px auto;
        padding: 0 5%;
    }
    
    .image {
        flex: 0 0 calc(50% - 40px);
    }
    
    .image img {
        width: 100%;
        height: auto;
    }
    
    footer {
        padding: 10px 0;
    }
    
    .social-icons img {
        width: 25px;
        height: 25px;
    }
}